{% extends "base.html" %}
{% load static %}

{% block title %}Каталог книг{% endblock %}
{% block content %}
    <div class="container">
        <div class="header">
            <h1><a href="/books">Каталог</a></h1>
        </div>
        <div class="row">
            {% for book in catalog %}
            <div class="book col-md-4">
                <h2 style="color: #005cbf">{{ book.name }}</h2>
                <p>Автор: {{ book.author }}</p>
                <p>Дата публикации: <a href="/books/{{ book.pub_date }}">{{ book.pub_date }}</a></p>
            </div>
            {% endfor %}
        </div>
        {% if page.has_previous %}
            <a class="button button-primary" href="/books/{{ prev_date }}"><{{ prev_date }} </a>
        {% endif %}
        {% if page.has_next %}
            <a class="button button-primary" href="/books/{{ next_date }}">{{ next_date }}></a>
        {% endif %}
    </div>
{% endblock %}